@import '../../stylesheets/colors';

.share-button {
  position: fixed;
  top: 80px;
  left: 40px;
  padding: 10px 14px;
  background-color: #313a3a;
}

.share-button:hover {
  background-color: #1f2121;
}

body.modal-open .modal {
    display: flex !important;
    height: 80%;
}

body.modal-open .modal .modal-dialog {
    margin: auto;
}

.ShareModal .modal-content {
  padding: 25px 20px 15px 20px;
  background-color: #313a3a;
  color: white;

  h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 39px;
  }

  h5 {
    background-color: white;
    padding: 20px;
    color: black;
    margin-top: 30px;
    font-size: 19px;
  }
}
