.MapDisplay {
  width: 100%;
  height: 500px;
  margin: auto;

  .Col {
    padding: 0;
  }
}

.py2 {
  margin-top: (1rem) !important;
  margin-bottom: (1rem) !important;
}

.NavPhoto {
  transition: all .2s ease-in-out;
  .fade {
    transform: scale(1.1);
  }
}

