.biggerPhoto {
  width: 300px;
  height: 400px;
}

.NavPhoto {
  position: relative;
  transition: all 0.2s ease-in-out;
  .fade {
    transform: scale(1.1);
    background-color: black;
  }

  h3 {

  }
}
