@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

div.ImageContainer {
  position: relative;
  text-align: center;

  > img {
    position: relative;
    width: 100%;
  }

  p {
    display: none;

    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 14px;
    background: #353434;
  }

  > div {
      position: absolute;
      margin-top: 0px;
      margin-bottom: 0px;
      top: 40%;
      left: 40%;
      display: none;
      color: white;
  }

}

.ImageContainer:hover {
  p {
    display: block;

    margin-bottom: 0px;
    padding: 10px;
  }
}
