@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

div.ImageContainer {

  position: relative;
  text-align: center;

  > img.photo-fit.py2.size {
    position: relative;
  }

  > div {
      position: absolute;
      margin-top: 0px;
      margin-bottom: 0px;
      top: 40%;
      left: 40%;
      display: none;
      color: white;
  }

}
